<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feed-to-video</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Tamil' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Tamil Supplement' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="wrapper">

        <div class="container">
            <nav class="main-header">
                <a href="/">Home</a>
                <a href="/saved_c">Saved Content</a>
                <a href="/created_v">Created Videos</a>

                <div class="dropdown">
                    <button class="dropbtn">Select a Category</button>
                    <div class="dropdown-content">
                        <a href="/sports">Sports</a>
                        <a href="https://www.google.com">Google</a>
                        <a href="https://www.openai.com">OpenAI</a>
                        <!-- Add more links as needed -->
                    </div>
                </div>
            </nav>
            <div class="divide"></div>
            {% for news in data %}
            {% include "news-card.html" %}
            {% endfor %}
        </div>
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>