<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feed-to-video</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Tamil' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Tamil Supplement' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="wrapper">

        <div class="container">
            <nav class="main-header">
                <div class="display-options">
                    <a class="doa" href="/">Home</a>
                    <a class="doa" href="/saved_c">Saved Content</a>
                    <a class="doa" href="/created_v">Created Videos</a>
                    <a class="doa" href="/upload-rss">Add rss link</a>
                    <div class="dropdown">
                        <button class="dropbtn">Select a Category</button>
                        <div class="dropdown-content">
                            <a href="/sports">Sports</a>
                            <a href="https://www.google.com">Google</a>
                            <a href="https://www.openai.com">OpenAI</a>
                            <!-- Add more links as needed -->
                        </div>
                    </div>
                </div>

            </nav>
            <div class="divide"></div>
            {% for news in data %}
            {% include "news-card.html" %}
            {% endfor %}
        </div>
    </div>
    <button type="button" class="scrollbuttons" id="bottom-btn" >Scroll to bottom</button>
    <button onclick="topFunction()" class="scrollbuttons" id="topBtn" title="Go to top">Back to top</button>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>