<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saved content</title>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Tamil' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Tamil Supplement' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/d191a98b5d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            {% include 'nav.html' %}
            {% if contents|length < 1 %} <p>No contents saved</p>
                {% else %}
                {% for content in contents%}
                <div class="card" style="display: block;">
                    <div style="display:block;padding:10px;word-wrap: break-word;">
                        <div>
                            <div class="" style="font-weight: bolder;font-size: 30px;">
                                {{content[1]}}
                            </div>
                        </div>
                       
                      
                        <div style="display: flex; flex-direction: row;">
                            <nav class="navs">
                                <button class="to_video" onclick="editNews('{{content[0]}}')" ><i class="fa fa-edit"></i> </button>
                                <button class="to_delete" onclick="deleteNews('{{content[0]}}')"> <i class="fa fa-trash"></i></button>
                            </nav>
                            <div style="margin-left: auto;">
                                {% if content[6] == True %}
                                    <span class="news_status_true">
                                        Video created
                                    </span>
                                {%else%}
                                <span class="news_status_false">
                                    Video not created
                                </span>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>